
body {
	background-image: linear-gradient(0deg, rgb(215,160,130) 11%, rgb(233,187,161) 22%, rgb(248,220,199) 33%, rgb(149,190,172) 66%, rgb(68,157,151));
	background-repeat: no-repeat; 
}

.header-bar {
	width: 100%;
	font-size: 36px;
	font-weight: 700px;
	color: white;
	padding: 30px;
}

@media (max-width: 768px) {     .content-lane {         width: 100%;     } }

.content-lane {
	width: 66%;
	margin: 0 16%;
	position: relative;
}

.content-lane .question{
	position: absolute;
	background-color: white;
	box-shadow: 0 0 30px 5px rgba(0,0,0,0.4);
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 400;
	transition: all 1.0s ease;
	transition-property: opacity, transform;
}

.content-lane .question[data-state="prev"],
.content-lane .question[data-state="next"] {
	/*display: none;*/
	transform: translateX(-100px);
	opacity: 0;
}

.content-lane .question[data-state="active"] {
	position: relative;
	opacity: 1.0;
}

.content-lane .question > div {
	margin-left: 30px;
}