
body {
	background: -webkit-linear-gradient(90deg, rgb(215,160,130) 11%, rgb(233,187,161) 22%, rgb(248,220,199) 33%, rgb(149,190,172) 66%, rgb(68,157,151)) no-repeat center center fixed;
	background: linear-gradient(0deg, rgb(215,160,130) 11%, rgb(233,187,161) 22%, rgb(248,220,199) 33%, rgb(149,190,172) 66%, rgb(68,157,151))
				no-repeat
				center
				center
				fixed;
    width: 100%;
    height: 100%;
}

.header-bar {
	width: 100%;
	font-size: 36px;
	font-weight: 700px;
	color: white;
	padding: 30px;
}

.content-lane {
	width: 100%;
	margin: 0;
}

.content-lane .question-lane {
	margin-bottom: 15px;
}

.content-lane .question-lane .question{
	position: absolute;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 30px 5px rgba(0,0,0,0.4);
	border-radius: 5px;
	padding: 30px;
	font-size: 18px;
	font-weight: 400;
	-webkit-transition: all 1.0s ease;
	        transition: all 1.0s ease;
	-webkit-transition-property: opacity, -webkit-transform;
	        transition-property: opacity, transform;
}

.content-lane .question-lane .question[data-state="prev"],
.content-lane .question-lane .question[data-state="next"] {
	opacity: 0;
	filter: alpha(opacity=0);
}

.content-lane .question-lane .question[data-state="prev"] {
	-webkit-transform: translateX(-100px);
	    -ms-transform: translateX(-100px);
	        transform: translateX(-100px);
}

.content-lane .question-lane .question[data-state="next"] {
	-webkit-transform: translateX(100px);
	    -ms-transform: translateX(100px);
	        transform: translateX(100px);
}

.content-lane .question-lane .question[data-state="prev"][data-hidden="true"],
.content-lane .question-lane .question[data-state="next"][data-hidden="true"] {
	display: none;
}

.content-lane .question-lane .question[data-state="active"] {
	-webkit-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	        transform: translateX(0px);
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.content-lane .question-lane .question > div {
	margin-left: 30px;
}

.button-bar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
}

.button-bar div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: center;
}

.button-bar button.btn {
	background-color: transparent;
	color: white;
}

.content-lane .question-lane .result {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.content-lane .question-lane .result div#img-container {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.content-lane .question-lane .result div#img-container img {
	width: 100%;
}

.content-lane .question-lane .result div#info-container {
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

@media screen and (min-width: 500px) {
	.content-lane {
		width: 462px;
		position: relative;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.content-lane {
		width: 66%;
		margin: 0 16%;
		position: relative;
	}
}
